body {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    text-align: center;
}

h1 {
    color: rgb(11, 58, 32);
}

section {
    background-color: rgb(152, 161, 148);
    border: 2px solid rgb(81, 110, 67);
    border-radius: 12px;
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
}

h2 {
    color: rgb(11, 58, 32);
}

p {
    font-size: 20px;
    color: rgb(11, 58, 32);
}

a {
    color: rgb(11, 58, 32);
    font-weight: bold;
}